<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Resto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <a class="nav-item nav-link" routerLink="addEmp">Add Employees</a>
          <a class="nav-item nav-link" routerLink="list">List Restaurant</a>
          <a class="nav-item nav-link" routerLink="register">Register</a>
    </div>
  </nav>
  <div class="container">
  <router-outlet></router-outlet>
  <div></div>
